<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogIncludeTimestamp="true"
      internalLogFile="nlog-internal.log"
      internalLogLevel="Error">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
	<!-- 输出至JASON文件 -->
	<target xsi:type="File" name="JSFile_Log" fileName="${basedir}/logs/${shortdate}.log">
		<layout xsi:type="JsonLayout">
			<attribute name="time" layout="${longdate}" />
			<attribute name="level" layout="${level:upperCase=true}"/>
			<attribute name="callsite" layout="${callsite}" />
			<attribute name="message" layout="${message}"/>
			<attribute name="machineName" layout="${machinename}" />
			<attribute name="userID" layout="${literal:text=1234}" />
		</layout>
	</target>

	  <!-- 输出至Console -->
	  <target xsi:type="ColoredConsole" name="Console_Log"
			  useDefaultRowHighlightingRules="true" autoFlush ="true">
		  <layout xsi:type="JsonLayout" >
			<attribute name="time" layout="${longdate}" />
			<attribute name="level" layout="${level:upperCase=true}"/>
			<attribute name="callsite" layout="${callsite}" />
			<attribute name="message" layout="${message}"/>
			<attribute name="machineName" layout="${machinename}" />
			<attribute name="userID" layout="${mdlc:item=userID}" />
		  </layout>
	  </target>

	  <!-- 输出至SQL Server -->
	  <target name="SqlServer_Log"
			  xsi:type="Database"
			  connectionString="@NlogDbStr"
			  commandType="StoredProcedure"
			  commandText="[dbo].[NLog_AddEntry_p]">
			  <parameter name="@machineName"    layout="${machinename}" />
			  <parameter name="@logged"         layout="${date}" />
			  <parameter name="@level"          layout="${level}" />
			  <parameter name="@message"        layout="${message}" />
			  <parameter name="@logger"         layout="${logger}" />
			  <parameter name="@properties"     layout="${all-event-properties:separator=|}" />
			  <parameter name="@exception"      layout="${exception:tostring}" />
			  <parameter name="@userID"     layout="${mdlc:item=userID}" />
			  <parameter name="@userName"      layout="${mdlc:item=userName}" />
	  </target>

	<!-- 输出至Sqlite-->
	  <target xsi:type="Database" name="Sqlite_Log"
			  dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite"
			  connectionString="Data Source=mDatabase.db;Version=3;Journal Mode=WAL;Pooling=True;">
		  <commandText>
        INSERT INTO Nlog (time, level, callsite, message,machineName,userID)
        VALUES (@time, @level,@callsite, @message, @machineName,@userID);
      </commandText>
      <parameter name="time" layout="${longdate}" />
      <parameter name="level" layout="${level:upperCase=true}"/>
      <parameter name="callsite" layout="${callsite}" />
      <parameter name="message" layout="${message}"/>
      <parameter name="machineName" layout="${machinename}" />
      <parameter name="userID" layout="${mdlc:item=userID}" />
	  </target>
  </targets>

  <rules>
    <!-- 文件输出 -->
    <logger name="*" writeTo="SqlServer_Log"/>
  </rules>
</nlog>
